[Unit]
Description=Installs updates with pacman on shutdown.
ConditionPathExists=/var/lib/pacman-shutdown

[Install]
WantedBy=final.target

[Service]
Type=oneshot
ExecStart=/usr/lib/pacman-shutdown-service
StandardOutput=journal+console

